<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./common/com') %>
    <title>list</title>
    <link rel="stylesheet" href="<%= STATIC %>/css/base.css">
    <link rel="stylesheet" href="<%= STATIC %>/css/public.css">
    <link rel="stylesheet" href="<%= STATIC %>/css/header.css">
    <link rel="stylesheet" href="<%= STATIC %>/css/food.css">
    <script src="/list.js"></script>
</head>
<body>
<%- include('./common/header',{STATIC:STATIC}) %>
<div id="list-root">

</div>

<%- include('./common/footer.ejs') %>
</body>
<script>
    let kw = '<%= kw %>';
    ReactDOM.render(
        React.createElement(App, {kw}),
        document.getElementById('list-root')
    )
    ;
</script>
</html>
